SERVER_PORT=
SESSION_SECRET = 

DB_CONNECTION_STRING =

CLIENT_HOME = 
API_HOME = 

AUTH0_CALLBACK = 
AUTH0_DOMAIN = 
AUTH0_CLIENT_ID = 
AUTH0_CLIENT_SECRET = 
GMAIL_USER = 
GMAIL_PASS = 

OAUTH_API_KEY = 
OAUTH_CLIENT = 
OAUTH_SECRET = 

TWITTER_BEARER = 
TWITTER_ACCESS =
TWITTER_ACCESS_SECRET = 
TWITTER_OAUTH_ACCESS = 
TWITTER_OAUTH_ACCESS_SECRET = 

REDDIT_CLIENT = 
REDDIT_CLIENT_SECRET = 	

BEARER_TOKEN_SECRET = 